<header>
  <h1>SF Film Locations</h1>
  
  <div id="search-wrapper">
    <input id="search" type="text" name="search" placeholder="Search for Movie, Year, Producer or Director" />
    <div id="disable-filter">x</div>
  </div>
  
</header>

<div id="map-container">
  <div id="map"></div>
</div>
<footer>
  <div id="infoWindow"></div>
</footer>
<div id="popup-template" class="pop-modal">
  <div class="pop-content">
    <span class="pop-close">x</span>
  </div>
</div>